# WordPress core style: tabs in PHP, spaces in YAML/JSON/Markdown.
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.php]
indent_style = tab

[*.{js,jsx,css,scss}]
indent_style = tab

[*.{json,yml,yaml,md,xml,dist}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
